<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include "./views/layout/style.html" ?>
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="/uploads/monkey.png" class="img-circle" alt="">
            </div>
            <form action="" class="col-xs-offset-1 col-xs-10" id="loginForm">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control" name="tc_name" placeholder="用户名">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" class="form-control" name="tc_pass" placeholder="密码">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登 录</button>
            </form>
        </div>
    </div>
    
    <?php include "/views/layout/scripts.html" ?>

    <script>      
        //提供用户输入界面，用户输入登录信息，将用户的登录信息发送给服务器，由服务器端验证用户是否合法

        //用户提交表单时将数据发送到服务端
        //要将表单提交有两种方式：鼠标点击、回车
        //submit事件，表单提交时触发

        require(['jquery','cookie'],function($){
            $('#loginForm').on('submit',function(){
                //表单数据 序列化，自动忽略没有name属性的表单元素
                var formData = $(this).serialize();
    
                $.ajax({
                    url:'/api/login',
                    type:'post',
                    data:formData,
                    success:function(info){
                        if(info.code == 200){
                            //JSON.stringify()将一个JavaScript值转换为一个JSON字符串
                            //cookie只能存储字符串
                            $.cookie('loginInfo',JSON.stringify(info.result));
                            location.href = '/';
                        }
                    }
                });
                //阻止默认事件
                return false;
            });

        });
        
    </script>
    
</body>
</html>